.htl3r-logo {
    display: block;
    max-width: 200px;
    max-height: 95px;
    width: auto;
    height: auto;
}

/* ===== Team CSS ===== */
.ud-team {
    padding-top: 120px;
    padding-bottom: 80px;
}

@media (max-width: 767px) {
    .ud-team {
        padding-top: 80px;
        padding-bottom: 40px;
    }
}

.ud-single-team {
    margin-bottom: 40px;
}

.ud-single-team .ud-team-image-wrapper {
    width: 170px;
    height: 170px;
    position: relative;
    margin: 0px auto 25px;
}

.ud-single-team .ud-team-image {
    border-radius: 50%;
}

.ud-single-team .ud-team-image img {
    width: 100%;
    border-radius: 50%;
}

.ud-single-team .shape {
    position: absolute;
    z-index: -1;
}

.ud-single-team .shape.shape-1 {
    top: 0;
    left: 0;
}

.ud-single-team .shape.shape-2 {
    bottom: 0;
    right: 0;
}

.ud-single-team .ud-team-info {
    text-align: center;
    margin-bottom: 20px;
}

.ud-single-team .ud-team-info h5 {
    font-weight: 500;
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.ud-single-team .ud-team-info h6 {
    font-weight: 500;
    font-size: 12px;
    color: var(--body-color);
}

.ud-single-team .ud-team-socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.ud-single-team .ud-team-socials a {
    width: 32px;
    height: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0px 10px;
    color: #cdced6;
}

.ud-single-team .ud-team-socials a:hover {
    color: var(--primary-color);
}